<div *ngIf="arduinoData?.length != 0">
  <h1>Mediciones:</h1>
  <!--  <pre>{{ arduinoData.data | json }}</pre>-->
</div>
<div *ngIf="arduinoData?.length == 0">
  <h1>No se han recibido datos</h1>
</div>


<div class="tablaValores" *ngIf="arduinoData?.length != 0" class="table-responsive mb-2 mt-2 mat-elevation-z8 puntaRedondeada">
  <table class="table  mat-cell">

    <tr>
      <td class="titulo">Serie medidor</td>
      <td class="titulo">Modelo</td>
      <td class="titulo">Fecha</td>
      <td class="titulo">Tension</td>
      <td class="titulo">Corriente</td>
      <td class="titulo">Potencia Activa</td>
      <td class="titulo">Potencia Reactiva</td>
      <td class="titulo">Factor Potencia</td>
      <td class="titulo">Frecuencia</td>
      <td class="titulo">Energia Activa Acumulada</td>
      <td class="titulo">Energia Reactiva Acumulada</td>
      <td class="titulo">Potencia Aparente</td>
    </tr>

    <tr *ngFor="let med of arduinoData?.data">
      <td class="dato">{{med.serie}}</td>
      <td class="dato">{{med.modelo}}</td>
      <td class="dato">{{med.fecha}}</td>
      <td class="dato">{{med.tension}}</td>
      <td class="dato">{{med.corriente}}</td>
      <td class="dato">{{med.potenciaActiva}}</td>
      <td class="dato">{{med.potenciaReactiva}}</td>
      <td class="dato">{{med.factorPotencia}}</td>
      <td class="dato">{{med.frecuencia}}</td>
      <td class="dato">{{med.energiaActivaAcumulada}}</td>
      <td class="dato">{{med.energiaReactivaAcumulada}}</td>
      <td class="dato">{{med.potenciaAparente}}</td>
    </tr>
  </table>

</div>

<div class="chart">
  <canvas id="chart" >{{chart}}</canvas>
</div>

